matplotlib==3.7.3
pandas==2.1.0
pipreqs==0.4.13
python-dotenv==1.0.0
scipy==1.11.2
seaborn==0.12.2
statsmodels==0.14.0
llama_cpp_python==0.2.11
transformers==4.30
torch==2.1.0
wikipedia==1.4.0
xmltodict==0.13.0
langchain==0.2.12
langchain-community==0.2.11
langchain-openai==0.1.21
openai==1.40.3
duckduckgo_search==6.2.6